<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="short icon" href="#">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/post.css">
  <title>Board</title>
</head>

<body>
  <% include ../header %>

    <section class="pagination">
      <div class="filter">
        <a class="popularity" href="/popularity">
          <i class="far fa-thumbs-up"></i>
          <span>인기순</span>
        </a>
        <a class="recent" href="/recent">
          <i class="far fa-clock"></i>
          <span>최신순</span>
        </a>
      </div>
    </section>

    <section class="post">
      <div class="cards-container">
        <% data.forEach(item=> { %>
        <div id="post-id-<%=item.id%>" class="card-content">
          <a href="/post/postDetail/<%=item.id%>">
            <div class="card__image">
              <img src="<%= item.image %>" alt="thumbnail">
            </div>

            <div class="card-info">
              <div class="title">
                <span>
                  <%=item.title %>
                </span>
              </div>
              <div class="description">
                <span>
                  <%=item.main_text %>
                </span>
              </div>

              <div class="subinfo">
                <span>5일 전</span>
                <span>* 댓글 <%= item.commentCount%>개</span>
              </div>
          </a>
          <div class="card-footer">
            <div class="uesrinfo">
              <span>by <%= item.userId %></span>
            </div>
            <div class="likes">
              <button class="likes-btn" onclick="like(<%=item.id%>);">
                <% if(item.like_state) { %>
                  <i class="fas fa-heart"></i>
                  <% } else { %>
                    <i class="far fa-heart"></i>
                    <% } %>
              </button>
              <span class="like-cnt">
                <%= item.like_cnt %>
              </span>
            </div>
          </div>

        </div>
      </div>
      <% }) %>
        </div>
    </section>
    <script src="/javascripts/post/post.js"></script>
</body>

</html>
