<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/postDetail.css">
  <title>detail</title>
</head>
<body>

  <% include ../header %>

  <section class="detail-container">
    <% postData.forEach(item=> { %>
      <section class="detail-content">
        <section class="detail__title">
          <span>
            <%= item.title %>
          </span>
        </section>
        <section class="detail__writer">
          <span>
            <%= item.writer %>
          </span>
        </section>
        <section class="detail__hashtags">
          <ul>
            <li>
              <%= item.hashtag %>
            </li>
            <!-- <li>#tag2</li> -->
          </ul>
        </section>
        <section class="detail__thumbnail">
          <img src="<%=item.image%>" alt="thumbnail">
        </section>
        <section class="main-text">
          <p>
            <%= item.main_text %>
          </p>
        </section>
      </section>
      
      <!-- 내 게시글일때 -->
      <section class="my-post-btn">
        <% if(userId === item.userId) { %>
          <button onclick="location.href='/post/postUpdate/<%=item.id%>'">게시물 수정</button>
          <form action="/post/delete/<%=item.id%>" method="post">
            <button class="my-delete-btn" type="submit">삭제하기</button>
          </form>
          <% } %>
      </section>

      <!-- 댓글 -->
      <section class="detail__comment">
        <div class="comment-input">
          <!-- <input type="text" name="comment" class="comment"> -->
          <textarea name="comment" class="comment"></textarea>
          <button type="button" class="comment-submit" onclick="commentSubmit(<%=item.id%>);">댓글 달기</button>
        </div>
          <div class="comment-content">
            <ul class="comment-ul"> 
              <% commentUser.forEach(comm=> { %>
              <li class="comment-list">
                <div class="comment__info">
                  <span class="comment__userId">
                    <%=comm.account %>
                  </span>
                  <span class="comment__time">
                    <%= (comm.time).toLocaleString() %>
                  </span>
                  <div class="comment-btn">
                    <% if(userId === comm.account) { %>
                      <form action="/post/commDelete/<%=item.id%>/<%=comm.commentId%>" method="post">
                        <button class="comment__delete-btn" type="submit">삭제</button>
                      </form>
                      <button class="commen__update-btn">수정</button>
                    <% } %>
                  </div>
                </div>
                <span class="comment-text">
                  <%= comm.comment %>
                </span>
              </li>
              <% }) %>
            </ul>
          </div>
      </section>
    <% }) %>
  </section>
  <script src="/javascripts/post/postComment.js"></script>
</body>
</html>